div {
  /* background-image: linear-gradient(to right,peachpuff,rgba(255, 255, 0, 0.712)); */
    background-color: peachpuff;
}
h3{
  color: antiquewhite;
  background-color: purple;
}
h4{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
